
<div class="slider-area">
  <div class="slider">
      <div id="bg-slider" class="owl-carousel owl-theme">

          <div class="item"><img src="assets/img/hotel3.jpg" ></div>
          <div class="item"><img src="assets/img/hotel4.jpg" ></div>
          <div class="item"><img src="assets/img/resto2.jpg" ></div>

      </div>
  </div>

</div>

<!-- property area -->
<div class="content-area home-area-1 recent-property" style="background-color: #FCFCFC; padding-bottom: 55px;">
  <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
              <!-- /.feature title -->
              <h2>Top Hotels</h2>
              <p>Veuillez Trouvez Ici les hotelles les plus recommandée  </p>
          </div>
      </div>

      <div class="row">
          <div class="proerty-th">
            <div class="col-sm-6 col-md-3 p0" *ngFor="let h of listevrai">
                <div class="box-two proerty-item">
                  <div class="item-thumb">
                    <a routerLink="/detaillehotel/{{ h.id }}"><img src="http://localhost:8081/restaurant/files/{{ h.imagetable.image }}"></a>
                  </div>
                  <div class="item-entry overflow">
                    <h5><a href="property-1.html">{{ h.libelle }}</a></h5>
                    <div class="dot-hr"></div>
                    <span class="pull-left"><b>Adresse :</b> {{ h.adresse }}</span>
                    <span class="proerty-price pull-right">${{ h.tarif }}</span>
                  </div>
                </div>
              </div>
              



          </div>
      </div>
  </div>
</div>

<!--Welcome area -->
<div class="Welcome-area">
  <div class="container">
      <div class="row">
          <div class="col-md-12 Welcome-entry  col-sm-12">
              <div class="col-md-5 col-md-offset-2 col-sm-6 col-xs-12">
                  <div class="welcome_text wow fadeInLeft" data-wow-delay="0.3s" data-wow-offset="100">
                      <div class="row">
                          <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                              <!-- /.feature title -->
                              <h2>   Rez <br>Hotel<br>Resto </h2>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-5 col-sm-6 col-xs-12">
                  <div  class="welcome_services wow fadeInRight" data-wow-delay="0.3s" data-wow-offset="100">
                      <div class="row">
                          <div class="col-xs-6 m-padding">
                              <div class="welcome-estate">
                                  <div class="welcome-icon">
                                      <i class="pe-7s-flag pe-4x"></i>
                                  </div>
                                  <h3>Meilleurs Hôtels</h3>
                              </div>
                          </div>
                          <div class="col-xs-6 m-padding">
                              <div class="welcome-estate">
                                  <div class="welcome-icon">
                                      <i class="pe-7s-users pe-4x"></i>
                                  </div>
                                  <h3>Plus De Clients</h3>
                              </div>
                          </div>


                          <div class="col-xs-12 text-center">
                              <i class="welcome-circle"></i>
                          </div>

                          <div class="col-xs-6 m-padding">
                              <div class="welcome-estate">
                                  <div class="welcome-icon">
                                      <i class="pe-7s-notebook pe-4x"></i>
                                  </div>
                                  <h3>Facile à Utiliser</h3>
                              </div>
                          </div>
                          <div class="col-xs-6 m-padding">
                              <div class="welcome-estate">
                                  <div class="welcome-icon">
                                      <i class="pe-7s-help2 pe-4x"></i>
                                  </div>
                                  <h3>Nous Vous Aidons </h3>
                              </div>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!--TESTIMONIALS -->


<!-- boy-sale area -->
<div class="boy-sale-area">
  <div class="container">
      <div class="row">

          <div class="col-md-6 col-sm-10 col-sm-offset-1 col-md-offset-0 col-xs-12">
              <div class="asks-first">
                  <div class="asks-first-circle">
                      <span class="fa fa-search"></span>
                  </div>
                  <div class="asks-first-info">
                      <h2>Cherchez-vous Des Hotels?</h2>
                      <p> Nous avons une liste variée des hotels pour vou</p>
                  </div>
                  <div class="asks-first-arrow">

                  </div>
              </div>
          </div>
          <div class="col-md-6 col-sm-10 col-sm-offset-1 col-xs-12 col-md-offset-0">
              <div  class="asks-first">
                  <div class="asks-first-circle">
                      <span class="fa fa-search"></span>
                  </div>
                  <div class="asks-first-info">
                      <h2>Cherchez-vous Des Restaurants?</h2>
                      <p> Nous avons une liste variée des restaurant pour vous?</p>
                  </div>
                  <div class="asks-first-arrow">

                  </div>
              </div>
          </div>
          <div class="col-xs-12">
              <p  class="asks-call">QUESTIONS? Appelez-Nous  : <span class="strong"> +216 55 555 789</span></p>
          </div>
      </div>
  </div>
</div>
