<div id="layout" class="theme-orange">
  <!-- WRAPPER -->
  <div id="wrapper">
      <div class="d-flex h100vh align-items-center auth-main w-100">
          <div class="auth-box">
              <div class="top mb-4">
                  <div class="logo">

                  </div>
              </div>
              <div class="card shadow p-lg-4">
                  <div class="card-header">
                      <p class="fs-5 mb-0">Connectez-vous à votre compte</p>
                  </div>
                  <div class="card-body">
                      <form [formGroup]="LoginForm"  (ngSubmit)="login()">
                          <div class="form-floating mb-1">
                              <input type="email" class="form-control" formControlName="email" placeholder="name@example.com">
                              <label>Email</label>
                          </div>
                          <div style="color:red;" *ngIf="LoginForm.get('email')?.hasError('required') && LoginForm.get('email')?.touched" class="alert alert-danger">
                            Email is required

                                           </div>
                          <div class="form-floating">
                              <input type="password" class="form-control"  formControlName="motpasse" placeholder="Password">
                              <label>Mot De Passe</label>
                          </div>
                          <div style="color:red;" *ngIf="LoginForm.get('motpasse')?.hasError('required') && LoginForm.get('motpasse')?.touched" class="alert alert-danger">
                            Mot de passe is required

                                           </div>
                          <!-- <div class="form-check my-3">
                              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              <label class="form-check-label" for="flexCheckDefault">
                                  Remember me
                              </label>
                          </div> -->
                          <button type="submit" class="btn btn-primary w-100 px-3 py-2">Connexion</button>
                      </form>
                      <!-- <div class="mt-3 pt-3 border-top">
                          <p class="mb-1"><a href="page-forgot-password.html"><i class="fa fa-lock me-2"></i>Forgot password?</a></p>

                      </div> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- END WRAPPER -->
</div>
