
<br><br>
<div class="card">
  <div class="card-header">
      <h6 class="card-title">Liste Responsables Restaurant</h6>
  </div>
  <div class="card-body">
      <div class="table-responsive">
          <table class="table table-hover align-middle">
              <thead>
                  <tr>
                    <th>Date debut</th>
                    <th>Date fin</th>
                    <th>Durée Séjour</th>
                    <th>Nombre Personne</th>
                    <th>Nombre Chambre</th>
                  </tr>
              </thead>
              <tbody>
                <tr   *ngFor="let r of allreservation">
                  <td>{{r.datedebut}}</td>
                    <td>{{r.datefin}}</td>
                    <td>{{r.dureesejour}}</td>
                    <td>{{r.nbpersonne}}</td>
                    <td>{{r.nbchambre}}</td>

                </tr>

              </tbody>
          </table>
      </div>
  </div>
</div>
