<br><br>
<div class="card">
  <div class="card-header">
      <h6 class="card-title">Liste Des Restaurant</h6>
  </div>
  <div class="card-body">
      <div class="table-responsive">
          <table class="table table-hover align-middle">
              <thead>
                  <tr>
                      <th>Libelle</th>
                      <th>Adresse</th>
                      <th>Type Ambianca</th>
                      <th>Heure Ouverture</th>
                      <th>Heure Fermeture</th>
                      <th>Capacite</th>
                      <th>Type Cuisine</th>

                      <th>Actions</th>

                  </tr>
              </thead>
              <tbody>

                  <tr   *ngFor="let r of listeresto">
                    <td>{{r.libelle}}</td>
                      <td>{{r.adresse}}</td>
                      <td>{{r.typeambiance}}</td>
                      <td>{{r.heureouvert}}</td>
                      <td>{{r.heureclosed}}</td>
                      <td>{{r.capacite}}</td>
                      <td>{{r.typecuisine}}</td>


<td>
  <button type="button" class="btn btn-info" routerLink="/home/detailleresto/{{r.id}}">Detaille</button>
  <button type="button" (click)="patchform(r)"class="btn btn-warning">Modifier</button>
  <button type="button" class="btn btn-danger" (click)="supprimer(r.id)">Supprimer</button>
</td>
                  </tr>

              </tbody>
          </table>
      </div>
  </div>
</div>


<br>


<!-- updateform -->

<!-- update form -->
<div *ngIf="updatevrai==true">
  <div class="container-fluid">

    <div class="block-header py-lg-4 py-3">
        <div class="row g-3">
            <div class="col-md-6 col-sm-12">
                <h4 class="m-0 fs-5"> Mettre à jour votre Restaurant</h4>

            </div>

        </div>
    </div>

    <div class="row g-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-body">
                  <form class="row g-3" id="basic-form" [formGroup]="updateform" (ngSubmit)="update()" novalidate>
                    <div class="col-12">
                        <label class="form-label">Libelle</label>
                        <input type="text" class="form-control" formControlName="libelle" required />
                    </div>

                    <div class="col-12">
                      <label class="form-label">Adresse</label>
                      <input type="text" class="form-control"  formControlName="adresse" required />
                  </div>

                    <div class="col-12">
                        <label class="form-label">Type Ambiance</label>
                        <input type="text" class="form-control" formControlName="typeambiance" required />
                    </div>

                    <div class="col-12">
                      <label class="form-label">Heure Ouvert</label>
                      <input type="time" class="form-control" formControlName="heureouvert" required />
                  </div>

                  <div class="col-12">
                    <label class="form-label">Heure fermeture</label>
                    <input type="time" class="form-control" formControlName="heureclosed" required />
                </div>


                                               <div class="col-12">
                                                <label class="form-label">Capacite</label>
                                                <input type="text" class="form-control" formControlName="capacite" required />
                                            </div>

                                                             <div class="col-12">
                                                              <label class="form-label">Type Cuisine</label>
                                                              <input type="text" class="form-control" formControlName="typecuisine" required />
                                                          </div>



                    <div class="col-12">
                        <button  style="    margin-left: 928px;
                        width: 203px;"   type="submit" class="btn btn-primary">Modifier</button>
                    </div>
                </form>
                </div>
            </div>
        </div>

    </div>

  </div>
  </div>
